//Custom.scss
$body-bg: #B8D3D1;
$primary: #CF9B38;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-family: 'Roboto', sans-serif;
    h1 {
        font-family: 'Rochester', cursive;
       //font-family: 'Vibur', cursive;
       color: $primary
    };
    background-color: $body-bg;
 

}